/* NOTE:  navBarContainer css in index.css */
body {
  background-color: #F6F9FC;
  /* padding: 30px; */
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_home {
  height: 100vh;
}

.titleContainer {
  border: 1px solid red;
  height: 500px;
}

