.contactButton {
    padding: 10px 12px;
    width: auto;
    height: auto;
    background-color: rgb(51, 153, 51);
    color: #FFF;
    font-size: 24px;
    border: none;
    box-shadow: -3px 3px 7px 0px rgba(128, 128, 128, 0.4);

    position: fixed;
    top: 46px;
    right: 25%;

    transform: scale(1);

    user-select: none;
  }

  .contactButton:hover {
    background-color: hsl(243, 95%, 71%);
    cursor:pointer;
    animation: grow-animation 0.3s ease-out;
    transform: scale(1.03);
  }

  @keyframes grow-animation {
    0% {
        transform: scale(1);
        /* box-shadow: -3px 3px 7px 0px rgba(128, 128, 128, 0.2); */
       }
    100% {
          transform: scale(1.03); 
          /* box-shadow: -6px 6px 7px 0px rgba(128, 128, 128, 0.2); */
        }
  }