.logoWrapper {
    width: 250px;
}

.title {
    /* border: solid 1px gold; */
    
    font-family: 'Montserrat', sans-serif;
    font-size: 108px;
    font-weight: 300;
    padding: 0 0.5em 0 0.2em;
    margin: 0 0 0 0;
    width: 100%;

}

.titleWrapper {
    /* border: solid 1px green; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* Prevent selection of text */
    user-select: none;

     /* Prevent ghost-dragging of images */
    pointer-events: none;
    
    position: relative;
    top: 30%;

    animation: fadeInAndUp 1s ease-out;
    /* Ensure the last animation key frame sticks around */
    animation-fill-mode: forwards; 
}

@keyframes fadeInAndUp {
    0% {opacity: 0;
        top: 25%;}
    100% {opacity: 1;
        top: 15%;}
}